a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  padding: 0;
}

address {
  font-style: inherit;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

button {
  border: none;
  font-family: inherit;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.body {
  font-family: "Roboto", sans-serif;

  color: var(--second-color);
  
}

button {
  border: none;
}

.container {
  
  padding: 0 15px;
  @media screen and (min-width:480px) {
    width: 480px;    
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width:768px){
    width: 768px;
    
  }
  @media screen and (min-width:1200px) {
    width: 1200px;    
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width:480px) {
       
  }

  @media screen and (min-width:1600px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}