.hero {
    background-color: #C4C4C4;
    background-image: linear-gradient(#2F303A66, #2F303A66),
        url(/images/Hero/Header\ img_mob_480.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding: 118px 0px;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(#2F303A66, #2F303A66), url(/images/Hero/Header\ img_mob_960.jpg);
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (min-width:768px) {
            width: 360px;  
            background-image: linear-gradient(#2F303A66, #2F303A66),url(/images/Hero/Header\ imgtab_768.jpg);
            
            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image:linear-gradient(#2F303A66, #2F303A66), url(/images/Hero/Header\ imgtab_1536.jpg.jpg);
                }
        }
    }
}

.hero__title {
    margin-bottom: 30px; 

    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

    font-size: 26px;
    line-height: calc(42/26);
    
}

.hero__button {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    text-align: center;
    letter-spacing: 0.06em;

    color: #ffffff;
    background-color: $hover-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    text-align: center;   

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    height: 50px;

        &:active,
        &:hover,
        &:focus{
            background-color: $hover-color-button;
            cursor: pointer;
        }
}
