.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.03em;

    @media screen and (min-width:1600px) {
        font-size: 26px;
        line-height: calc(31 / 26);
        
    }

    color: $hover-color;
}

.header__logo {
    // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 93px;
    
}

.logo__studio {
    color: #000000;
}

.footer__logo {
    color: #ffffff;
    
}