.footer {
    background: #2f303a;
    color: #ffffff;
    padding-bottom: 60px;
    padding-top: 60px;
    min-height: 252px;

    .footer-address{
        font-weight: 400;
        font-size: 14px;
        line-height: calc(24/14);
        letter-spacing: 0.03em;

        color: #ffffff;
        margin-top: 28px;
        padding-left: 0;

    }
}

.footer__container {

    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        text-align: center;
    }
    @media screen and (min-width:1200px) {
        flex-wrap: nowrap; 
        justify-content: center;
        align-items: baseline;
        // padding-left: 215px;
        // padding-right: 215px;      
    }
}

@media screen and (max-width:767.98px) {
    .footer__bloc-address,
    .footer__bloc-social,
    .footer__bloc-form{
        text-align: center;
    }
    
}

@media screen and (min-width:1200px) {

    .footer__bloc-address,
    .footer__bloc-social,
    .footer__bloc-form {
        text-align: left;
    }
    
    .footer__bloc-address{
        margin-right: 70px;
    }

}
@media screen and (max-width:1199.98px) {
    .footer-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


.footer__link {
    color: rgba(255, 255, 255, 0.6);
    padding: 0;
}

.footer__list {
    line-height: calc(16/14);

    .list__item + .list__item{
        margin-top: 12px;
    }
    
}

.social-link__item {
    width: $social-link-size;
    height: $social-link-size;
}

.footer__social-list {
    display: flex;
    justify-content: center;
}

.footer__social-title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;   
}

.footer__list {
    .social__item:last-child{
    margin-right: -10px;
    }
}

.social__link {
    background: rgba(255, 255, 255, 0.1);
    transition: $animation
}

.footer__bloc-social{
    @media screen and (max-width:767.98px) {
        margin-top: 60px;

    }
}

.footer__bloc-form{
    @media screen and(max-width:1199.98px) {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @media screen and (min-width:768px) and (max-width:1199.98px) {
        margin-top: 60px;        
    }

    @media screen and(min-width:1200px) {
        margin-left: 94px; 
        display: flex; 
        flex-direction: column;
            
    }
}



.footer-form__title,
.footer__social-title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-form__subscr {
    // min-width: 360px;
    height: 50px;
    padding-left: 16px;
    margin-bottom: 20px;
    

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    color: rgba(255, 255, 255, 0.6);
    @media screen and (min-width:480px) and (max-width:767.98px) {
        width: 450px;        
    }

    @media screen and (min-width:768px) {
        width: 450px;
    }

    @media screen and (min-width:1200px) {
        width: 358px;
    }

        &:focus{
            color: #FFFFFF;
            font-weight: 400;
            font-size: 16px;
            line-height: calc(20/16);
            letter-spacing: 0.03em;
        }

}

.footer-form__button {
    width: 200px;
    height: 50px;
    padding: 10px 28px;

    background: $hover-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);

    display: flex;
    align-items: center;
    text-align: center;

    letter-spacing: 0.06em;
    color: #FFFFFF;

        &:hover,
        &:focus{
            background-color: $hover-color-button;
                cursor: pointer;
        }
    
}

.footer-form__text {
    margin-right: 12px;
}

