.client__title {
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;

    color: $title-color;
    // margin-bottom: 50px;
}

// .client__item {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .client__list {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }


// .client__list {
//     .client__item+.client__item {
//         margin-left: $grid-margin;
//     }
// }

.client__link {
    color: #AFB1B8;
    border: 1px solid;
    border-radius: 4px;

    min-width: 170px;
    min-height: 92px;
    
    // display: flex;
    // justify-content: center;
    // align-items: center;

    transition: $animation;
        &:hover,
        &:focus{
            color: $hover-color;
        }
}

.client__icon {
    fill: currentColor;
}