@import '../utils/variables';

.team {
    background: #f5f4fa;
}

.team__title {
    font-size: 28px;
    line-height: calc(33/28);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}

.team-img{
    margin-bottom: 30px;

}

.team__list {
    @media screen and (max-width: 767.98px) {
            .list__item+.list__item {
                margin-top: $grid-margin;
            }
        }

    @media screen and (min-width:768px) and (max-width:1199.98px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        .list__item{
            flex-basis: calc(100% / 2 - 30px);
            margin-bottom: $grid-margin;
            
            &:nth-child(2n) {
                margin-left: $grid-margin;
            }
        }
    }

    @media screen and (min-width:1200px) {
        display: flex;
        flex-wrap: nowrap;
        
        .list__item + .list__item{
            margin-left: $grid-margin;
        }
    }

    .list__item {
        background: #ffffff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        min-height: 368px;
        padding-bottom: 30px;
        
    }
}

.list__name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;

    color: $title-color;
    
    padding-bottom: 10px;
}

.list__job {
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
   margin-bottom: 16px;
}

.social-link__list {
    display: flex;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;
    
}

.social__link {
    display: flex;
    margin-right: 10px;
    width: $social-link-size;
    height: $social-link-size;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;

        &:hover,
        &:focus{
            background-color: $hover-color;
            color: #FFFFFF;
        }
}


// .social-link__list {
//     .list__item:last-child{
//     margin-right: -10px;
//     }
// }

.social__icon {
    fill: currentColor;
}