.client__title {
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;

    color: $title-color;
    
}

// .client__item {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.client__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-right: calc(-1* $grid-margin);

    @media screen and (min-width:768px) {
          
        
    }
}

.client__item{

    @media screen and (max-width:767.98px) {
        
        flex-basis: calc(100% /2 - 30px);
        margin-bottom: $grid-margin;

        &:nth-child(2n){
            margin-left: $grid-margin;
        }
    }

    @media screen and (min-width:768px) {
        flex-basis: calc(100% /3 - 60px);
        margin-top: $grid-margin;
        margin-right: $grid-margin;

    }
} 
    
.client__link {
    color: #AFB1B8;
    border: 1px solid;
    border-radius: 4px;

    min-width: 170px;
    min-height: 92px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: $animation;
        &:hover,
        &:focus{
            color: $hover-color;
        }
}

.client__icon {
    fill: currentColor;
}